.reveal {
    background: url(./background.jpg) no-repeat center;
    background-size: cover;
}

.box {
    background: #999;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100px;
    color: blanchedalmond;
    padding: 10px;
}

/* Define large box styles */
.box-cyan {
    background: rgb(2, 83, 83);
}

.box-magenta {
    background: rgb(88, 8, 88);
}

.box-yellow {
    background: rgb(83, 83, 5);
}

.box-blue {
    background: rgb(4, 4, 104);
}

.box-green {
    background: rgb(2, 70, 2);
}

/* Define circle styles */
.circle {
    border-radius: 200px;
}

.box-cyan-large {
    background: cyan;
    width: 300px;
    height: 300px;
}

.box-magenta-medium {
    background: magenta;
    width: 200px;
    height: 200px;
}

.box-yellow-small {
    background: yellow;
    width: 100px;
    height: 100px;
}

/* Margin top for headings */
.margin-top-20 {
    margin-top: 20px;
}